div.editTab {
  min-height: 100%;
}

div.editTab form {
  margin-left: 0.5vw;
  margin-top: 0.5vw;
}

form>label {
  display: block;
  margin-left: 0.5vw;
}

input {
  display: inline-block;
  width: 256px;
  margin-left: 0.5vw;
}

textarea {
  margin-left: 0.5vw;
}

button[type="submit"] {
  display: block;
  margin: 0.5vw 0 0 0;
}
